/* @import url('https://fonts.googleapis.com/css2?family=Michroma&family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply text-white;
  }
}


*{
    font-family: "Michroma", sans-serif;
     background-color: black; 
    color: white; 
} 
*/
/* @import url('https://fonts.googleapis.com/css2?family=Michroma&family=Outfit:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply text-white bg-black font-[Michroma];
  }
}
 */

@import url('https://fonts.googleapis.com/css2?family=Michroma&family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@import "tailwindcss/theme";
/* @layer base { */
  body {
    /* @apply text-white; */
    /* background-color: black; */
    /* font-family: "Michroma", sans-serif; */
    font-family: "Montserrat", sans-serif;
  }
/* } */
/*  */
@layer utilities {
  .font-custom {
    font-famil: "Montserrat","sans-serif" !important;
  }
}
@keyframes spin-slow {
  to {
    transform: rotate(360deg);
  }
}
.animate-spin-slow {
  animation: spin-slow 3s linear infinite;
}
